.App {
  text-align: center;
  font-family:  'M PLUS Rounded 1c', sans-serif;;
  background-color: black;
  height: 100vh;
  opacity: .4;
}

body {
  background-image: url('https://startbootstrap.github.io/startbootstrap-grayscale/assets/img/bg-masthead.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}


.App-header{
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
  padding-right: 30px;
  opacity: .8;
}

.Logo {
  color: white;
  font-size: 25px;
  font-weight: bolder;
}

.desktop-menu {
  display: flex;
  width: 400px;
  color: white;
  box-sizing: content-box;
  filter: brightness(400%);
  justify-content: space-around;
  align-items: flex-end;
}

.mobile-menu {
  display: none;
}

.dropdown{
  display: none;
} 

h1 {
  color: white;
  display: flex;
  justify-content: space-evenly;
  font-size: 100px;
  letter-spacing: 20px;
  margin-bottom: 0%;
  
}

p {
  color: white;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 20px;
  font-weight: bolder;
  margin: 0%;
}

button {
  background-color: rgb(2, 175, 138);
  border: none;
  color: white;
  padding: 20px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin: 40px;
}

 @media screen and (max-width: 990px){
.App-header{
  background-color: white;
  }
}

@media screen and (max-width: 990px){
.desktop-menu {
  display: none;
  }
}

@media screen and (max-width: 990px){
.Logo {
  color: Black;
  }
}

@media screen and (max-width: 990px){
.dropdown {
  display: initial;
  color: black;
  font-size: 25px;
  
  }
}

@media screen and (max-width: 990px){
.mobile-menu {
  display: initial;
  background-color: white;
  color: black;
  height: 100px;
  width: 100%;
  position: fixed;
  top: 10%;
  left: 0px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  padding-left: 50px;
  } 
}
